<a href="https://colab.research.google.com/github/LucianoFraga27/Analise-De-Vendas-Das-Filias-Da-Empresa/blob/main/vendas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import os
import pandas as pd

In [7]:
# Percorrer todos os arquivos da base de dados (vendas)
lista_arquivo = os.listdir("/content/drive/MyDrive/Curso básico python #/Vendas")
#display(lista_arquivo)

# tabela vazia
tabela_total = pd.DataFrame()

In [8]:
# Importar as bases de dados de vendas

for arquivo in lista_arquivo:
    if "vendas" in arquivo.lower():
      arquivo_local = f"/content/drive/MyDrive/Curso básico python #/Vendas/{arquivo}"
      #csv_tipo do arquivo
      tabela = pd.read_csv(arquivo_local)
      tabela_total = tabela_total.append(tabela)

#display(tabela_total)

,Unnamed: 0,SKU,Produto,Quantidade Vendida,Primeiro Nome,Sobrenome,Data,Loja,Preco Unitario,Unnamed: 8
0,14,HL4379,Televisão,4,Ylana,Teraoka,6/23/2018,Porto Alegre,2500,NaN
1,34,HL1148,Câmera,1,Rubens,Netto,7/11/2018,Porto Alegre,2100,NaN
2,43,HL1148,Câmera,5,Paloma,Sperandei,9/15/2018,Porto Alegre,2100,NaN
3,49,HL8851,Notebook,5,Breno,Farias,6/24/2018,Porto Alegre,3500,NaN
4,52,HL4379,Televisão,2,Lorena,Kohn,7/31/2018,Porto Alegre,2500,NaN
...,...,...,...,...,...,...,...,...,...,...
714,9859,HL2714,Tablet,1,Júlio,Fraga,12/25/2018,Curitiba,1600,NaN
715,9876,HL4379,Televisão,5,Bruno,Mota,4/30/2018,Curitiba,2500,NaN
716,9918,HL1148,Câmera,2,Lucas,Reis,12/27/2018,Curitiba,2100,NaN
717,9944,HL1918,iPhone,5,Raphael,Kurtz,7/16/2018,Curitiba,5300,NaN
718,9998,HL7348,SmartWatch,1,Vinícius,Antunes,12/10/2018,Curitiba,1400,NaN

In [11]:
# Calcular o produto mais vendido (qtd vendida)

#agrupar produtos e somar seus valores
tabela_produto = tabela_total.groupby("Produto").sum()
#display(tabela_produto)
# Escolhendo a tabela que eu quero que apareça
# Deixando em ordem sort_values(by="Por onde ordenar", ascending="CrescenteTRUE ou DescrescenteFALSE"))
tabela_produto = tabela_produto[["Quantidade Vendida"]].sort_values(by="Quantidade Vendida", ascending=False)
# display(tabela_produto)

            Quantidade Vendida
Produto
iPhone                    8974
Televisão                 5931
Notebook                  3249
Android                   3183
SmartWatch                2980
Tablet                    2921
Câmera                    2805

In [14]:
# Verificar o produto que mais faturou 
# faturamento = qtdvendas * preco

tabela_total['Faturamento'] = tabela_total['Quantidade Vendida'] * tabela_total['Preco Unitario']
tabela_faturamento = tabela_total.groupby("Produto").sum()
tabela_faturamento = tabela_faturamento[['Faturamento']].sort_values(by='Faturamento', ascending=False)
# display(tabela_faturamento)

            Faturamento
Produto
iPhone         47562200
Televisão      14827500
Notebook       11371500
Android        10822200
Câmera          5890500
Tablet          4673600
SmartWatch      4172000

In [15]:
# Calcular a loja que teve o maior faturamento

tabela_loja = tabela_total.groupby("Loja").sum()
tabela_loja = tabela_loja[['Faturamento']].sort_values(by='Faturamento', ascending=False)
display(tabela_loja)

                Faturamento
Loja
São Paulo          22098300
Rio de Janeiro     14867800
Fortaleza          14087900
Salvador           13111300
Goiás               7441800
Recife              7303000
Curitiba            7060500
Porto Alegre        6868600
Belo Horizonte      6480300